@import "../../../style/color";

.btn-all-in {
  position: absolute;
  z-index: 2;
  right: 11px;
  top: 50%;
  transform: translateY(-52%);
}

.swap-btn {
  font-size: 15px;
  line-height: 15px;
  padding: 5px 10px;
  border-radius: 18px;
  background: #6C72E9;
  color: $white_color;
}

.margin-top-button {
  padding-top: 30px;
}

.swap-input {
  background:rgba(0, 0, 0, 0.5);
  border: 1px solid #D8D8D8;
  border-radius: 18px;
  color: $white_color;
  height: 45px;
  font-size: 15px;

  &:hover {
    border: 1px solid $white_color;
  }

  &:active {
    border: 1px solid $white_color;
  }

  &:focus {
    border: 1px solid $white_color;
    box-shadow: 0px 0px 2px $white_color;
  }
}

.margin-top-err {
  margin-top: 4px;
}

.swap-icon {
  color: $white_color;
  font-size: 20px;
}
