@import "../../../style/color";

.btn-all-in {
  position: absolute;
  z-index: 1;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
}

.swap-btn {
  font-size: 12px;
  line-height: 7px;
  padding: 5px 10px;
  border-radius: 6px;
  background: #6C72E9;
  color: $white_color;
  &:hover {
    transform: translateY(-12px);
  }

  &:active {
    transform: translateY(-10px);
  }
}

.margin-top-button {
  padding-top: 30px;
}

.swap-input {
  background:rgba(0, 0, 0, 0.5);
  border: 1px solid #D8D8D8;
  border-radius: 6px;
  color: $white_color;

  &:hover {
    border: 1px solid $white_color;
  }

  &:active {
    border: 1px solid $white_color;
  }

  &:focus {
    border: 1px solid $white_color;
    box-shadow: 0px 0px 2px $white_color;
  }
}
