@import "../../../style/color";

.btn-all-in {
  position: absolute;
  z-index: 1;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
}

.swap-btn {
  font-size: 14px;
  line-height: 12px;
  padding: 5px 10px;
  border-radius: 10px;

  &-green {
    background-color: $green_color;
    color: white;

    &:hover {
      transform: translateY(-12px);
    }

    &:active {
      transform: translateY(-10px);
    }
  }
}

.margin-top-button {
  padding-top: 30px;
}

.swap-input {
  background: #E5E5E5;
  border: 0.5px solid #BEBEBE;
  border-radius: 8px;

  &:hover {
    border: 1px solid $primary_green;
  }

  &:active {
    border: 1px solid $primary_green;
  }

  &:focus {
    border: 1px solid $primary_green;
    box-shadow: 0px 0px 2px $primary_green;
  }
}
