.hide {
  display: none;
}

.hide-on-desktop {
  display: none;
  width: 0;
  height: 0;
}

.layout {
  height: 100vh;
  background: #0a0d33;
  background-image: url(../assets/images/ezdefi.png);
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-position-x: center;
  background-attachment: fixed;
  background-attachment: fixed;
  background-size: auto;
  overflow: auto;
  position: relative;
}

@media only screen and (min-width: 992px) {
  .hide-on-lg {
    display: none;
  }

  .desktop-padding {
    padding-top: 15px
  }

}

@media only screen and (max-width: 992px) {
  .hide-under-lg {
    display: none;
  }

  .main-content {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 576px) {
  .hide-on-mobile {
    display: none;
  }

  .padding {
    &-xs {
      padding: 5px;
    }
  }

  .main-content {
    margin-top: 15px;
  }

  .hide-on-desktop {
    display: block;
    width: auto;
    height: auto;
  }
}
